
	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>Cabinet Cleaning</h3>
				<hr>
				<p>Cabinet is near to what we eat. TomCleaning is designed to clean beyond appearance alone, creating a cleaner facility and providing a better environment for the health and comfort of your family. Using environmentally friendly validated products and technologies is neccessary in this service. </p>
			</div>
		</div>
		<div class="row mt centered">	
			<div align="center" class="col-lg-8 col-lg-offset-2">
				<%= image_tag "Cabinet.jpg"%>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->