<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>Closet Cleaning</h3>
				<hr>
				<p>Let us help you organize and clean out your closet while getting rid of the junk that weighs you down. Cleaning your closet out is like a good therapy session which brings good harmony to you and your home. </p>
			</div>
		</div>
		<div class="row mt centered">	
			<div align="center" class="col-lg-8 col-lg-offset-2">
				<%= image_tag "closet.jpg"%>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->
	