<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>Oven Cleaning</h3>
				<hr>
				<p>Don't spend your time worrying about oven cleaning and just leave the hard work to our team, because that's what we do the best! TomClean's unique and innovative domestic oven cleaning system is the perfect solution to restore your oven, hob, extractor or microwave to 'as good as new'.</p>
			</div>
		</div>
		<div class="row mt centered">	
			<div align="center" class="col-lg-8 col-lg-offset-2">
				<%= image_tag "oven.jpg"%>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->
	