
	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>Shower Cubicle Cleaning</h3>
				<hr>
				<p>Shower enclosures can easily get soap scum build up, mold, and grime. Cleaning the shower can take some elbow grease, but with proper techniques you can get your shower enclosure sparkling in no time. Just leave this most hated chore to us, we will take good care of it.</p>
			</div>
		</div>
		<div class="row mt centered">	
			<div align="center" class="col-lg-8 col-lg-offset-2">
				<%= image_tag "cubicle.jpg"%>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->