
	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>Toilet Cleaning</h3>
				<hr>
				<p>The cleaning and maintenance of toilets, bathrooms and washrooms require high standards of hygiene. TomCleaning professionally trained cleaners, equipped with specialist tools and materials, including superheated steam cleaners arrive on a scheduled basis to provide an unrivalled deep toilet cleaning service.</p>
			</div>
		</div>
		<div class="row mt centered">	
			<div align="center" class="col-lg-8 col-lg-offset-2">
				<%= image_tag "toilet.jpg"%>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->