/*!
* Author: Åukasz Holeczek
* Template: GotYA - HTML5 Responsive Bootstrap Theme
* Version: 1.0.0 
* Bootstrap version: 2.1.
* Copyright 2013 creativeLabs
* www: http://bootstrapmaster.com
* mail: lukasz@bootstrapmaster.com
* You can buy this theme on WrapBootstrap: https://wrapbootstrap.com/theme/simpliq-flat-responsive-admin-template-WB0N1X0T1
* You can find our other themes on: https://bootstrapmaster.com
*/


/* Import Section
=================================================================== */

.clear {
	clear:both;
}

body {
	font-family: 'Droid Sans';
	font-size: 12px;
	color: #666;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Boogaloo" !important;
	font-weight: normal !important;
	color: #666;
	margin: 0;
	padding: 0;
}

.title {
	border-bottom: 3px double #f6f6f6;
	margin-bottom: 10px;
}

.title h1, .title h2, .title h3, .title h4, .title h5, .title h6 {
	border-bottom: 5px double #89c236 !important;
	margin-bottom: -4px !important;
	display: inline-block !important;
	padding: 0px 10px !important;
	margin-left:15px !important;
	margin-right:15px !important;
}

#wrapper {
	background: #fff;

}

/* #Lists
================================================== */
	ul, ol { margin: 0; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul {}
	ul ul li, ul ol li,
	ol ol li, ol ul li {}

/* Header
=================================================================== */
	
header {
	background: #fff;
	border-bottom: 5px solid #f6f6f6;
}

.logo img {
	margin-top:8px;
}


.navbar, 
.navbar-inner, 
.nav {
	float: right;
	background: #fff !important;
	border: none;
	-webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
	padding: 0px;
	margin: 0;	
}

.navbar-inner {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.navbar .nav > li > a {
	color: #666;
	border-top:4px solid #fff;
	text-shadow: none;
	font-size: 18px;
	padding: 20px;

}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
	border-top:4px solid #89c236;
  	background: #89c236 !important;		
  	color: #fff;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  	color: #89c236;
  	text-decoration: none;
	border-top:4px solid #89c236;
  	background-color: #fff !important;	
  	-webkit-box-shadow: none;
       -moz-box-shadow: none;
          	box-shadow: none;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  background: #89c236 !important;	
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  background: #89c236 !important;	
}

.navbar .btn-navbar {
	position: absolute;
	right: 50px;
	top: 15px;
}